<script type="text/x-handlebars" id="order">
    {{#if session.isAuthenticated}}
    <h2> Bon de commande d'otp : {{otp}} </h2>
    
    <h1> Dessinateur : {{drawerName}} </h1>
    <h1> Plan : {{plan}} </h1>
    <h2> Liste des convoyeurs </h2>
     {{#each c in conveyors}}
    <h2> Réference du Convoyeur : {{c.ref}} </h2>
    Entre guide  : {{c.eg}} <br />
    Zone : {{c.zone}}<br />
    RAL : {{c.ral}} <br />
    RAL sous manute : {{c.ralUnderConveyor}} <br />
    Position : {{c.position}} <br />
    {{c.pieceOrders.length}} type{{if c.pieceOrders.length>1}}s{{/if}} de pieces distribués selon :<br />
    {{#each p in c.pieceOrders}}
    {{p.nbPieces}} de {{p.orderPiece.piece.label}} : {{p.orderPiece.piece.erpRef}} <br />
    {{/each}}
    {{/each}}
	{{outlet}}
    {{/if}}
</script>