<script type="text/x-handlebars" id="orderExporter">
    {{#if session.isAuthenticated }}
    {{#if  conveyors.length}}
   <table BORDER="1" class="table" id="dvData">
   <tr>
   <th>Code article père</th>
   <th>Num ligne nom</th>
   <th>Code article composant</th>
   <th>Quantité composant</th>
   </tr>
    {{#each c in conveyors}}
    
    
    {{#each p in c.pieceOrders}}
   
   
    <tr>
    <td>I{{model.deal.number}}{{model.otp}}{{c.zone}}{{c.ref}}</td>
    <td>{{increment _view.contentIndex}}</td>
    <td>{{withh p.orderPiece.options  p.orderPiece.piece.erpRef c c.options model}}</td>
    <td>{{nombrePieces p }} </td>  
    </tr>
 
    {{/each}}
    

 
{{/each}}
    </table>
    {{#view "clickable"}}
    
    
Exporter sous format CSV
{{/view}}
    {{else }}<h2> Aucun convoyeur </h2>
    {{/if}}

    {{/if}}
</script>    