<script type="text/x-handlebars" data-template-name="dealDetails">
    <div>
        <div>
            Numéro de l'affaire : {{number}}
        </div>
        <div>
            Entre guide (EG) : {{eg}}
        </div>
        <div>
            RAL manut : {{ral}}
        </div>
        <div>
            RAL sous manut : {{ralUnderConveyor}}
        </div>
    </div>
    <div>
        <div>
            Nom du client : {{clientName}}
        </div>
        <div>
            Nom de l'affaire : {{dealName}}
        </div>
        <div>
            Créé le : {{date createdAt}}
        </div>
        <div>
            Créé par : {{createdBy}}
        </div>
    </div>
</script>